@import 'scss/colors';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 1rem;
  transition: all .5s;
  user-select: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: $accent;
  background-image: linear-gradient(to right bottom, #ff541e, #ff4835, #fc3d47, #f63657);
  position: relative;
  height: 50px;

  &:hover {
    box-shadow: rgba($accent, 0.5) 0 1px 15px;
    transition-duration: .1s;
    background-image: 
      linear-gradient(to right bottom, rgba(0, 0, 0, .05), rgba(0, 0, 0, 0.05)),
      linear-gradient(to right bottom, #ff541e, #ff4835, #fc3d47, #f63657);
  }
}